* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

#BgImg{
    background-image: url(./asset/backgroundImg.jpg);
    background-repeat: no-repeat;
    background-position: fixed;
    background-size: cover;
    z-index: 1;
}


header {
    display: flex;
    justify-content: space-around ;
    align-items: center;
    background-color: #0B0190;
    padding: 20px;
    color: black;
    height: 10px;
    border-bottom: 2px solid #0801A3;
  }
  
  .nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
  }
  
  .nav ul li {
    margin: 0 5px;
  }
  
  .nav-item a {
    text-decoration: none;
    color: black;
    display: inline-block;
    padding: 10px;
    font-size: 16px;
  }
  
  .nav-item a:hover {
    color: #1C1C1C;
  }
  
  .nav-pressed a {
    text-decoration: none;
    font-size: 16px;
    display: inline-block;
    padding: 10px;
    color: #D1C176;
  }
  
  .nav-pressed a:hover {
    color: #B3A155;
  }
  
  #home {
    padding-left: 10px;
  }
  
  #home a{
    display: block;
    text-decoration: none;
    font-size: 16px;
    color: white;
    border: 2px solid transparent;
    padding: 10px 20px;
    border-radius: 5px;
  }
  
  #home a:hover{
    color: #BDB9B2;
  }
nav a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.quiz-section {
    display: flex;
    background-color: #2B2C98;
    border-radius: 15px;
    padding: 20px;
    max-width: 800px;
    z-index: 2;
}

.quiz-text {
    flex: 1;
    padding: 20px;
}

.quiz-text h2 {
    font-size: 22px;
    margin-bottom: 10px;
}

.quiz-text p {
    font-size: 14px;
    margin-bottom: 10px;
}

.quiz-image {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4A47A3;
    border-radius: 15px;
    width: 200px;
    height: 200px;
    text-align: center;
}

.quiz-image img {
    width: 100px;
    height: 100px;
}

footer {
    margin-top: 20px;
    color: white;
    font-size: 14px;
}

#vrai{
    width: 50px;
    height: 20px;
    margin-top: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#faux{
    width: 50px;
    height: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}